.toggle-buttons input[type="radio"] {
  display: none;
}

.toggle-buttons label {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 0.5em;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  font: 0/0;
  color: transparent;
}

.toggle-buttons label[for=add] {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20...");
}

.toggle-buttons input:checked+label {
  background-color: #ebf5d7;
}

/* ###################### */
/* Style zum Aufgabenfed */
/* ###################### */
#task input[type="number"] {
  width: 2em;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  font-size: 1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /*
  Die appearance-Eigenschaft ermöglicht es,
  Formularelementen ihr betriebssystemspezifisches Aussehen zu nehmen.
  Dabei gibt es je nach Browser aber verschiedene Umsetzungen.
  */

  margin: 0;
}
